<%= simple_form_for @student do |f| %>

   <%= render "shared/error_messages", :record => @student %>

   
      <%= f.input :name, required: true%>
   

      <%= f.input :course_id, collection: Course.all  %>
   

   <p>
      <%= f.button :submit %>
   </p>
<% end %>