<%= simple_form_for @student do |f| %>

   <%= render "shared/error_messages", :record => @student %>

   <p>
      <%= f.input :name, required: true%>
   </p>

   <p>
      <%= f.input :email, required: true%>
   </p>
   
   <p>
      <%= f.input :course_id, collection: courses  %>
   </p>
   
   <p>
      <%= f.button :submit %>   
   </p>
   
<% end %>