<%= form_for @student do |f| %>

   <%= render "shared/error_messages", :record => @student %>

   <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
   </p>

   <p>
      <%= f.submit %>
   </p>
<% end %>