<ul>
   <li><%= link_to t("nav.link.teachers.list"), teachers_path %></li>
   <li><%= link_to t("nav.link.courses.list"), courses_path %></li>
   <li><%= link_to t("nav.link.students.list"), students_path %></li>
   <li><%= link_to t("nav.link.disciplines.list"), disciplines_path %></li>
   <li><%= link_to t("nav.link.rooms.new"), new_room_path %></li>
</ul>