<h3>Professores Cadastrados</h3>

<p>
   <%= link_to t("nav.link.teachers.register"), new_teacher_path %>
</p>

<% unless @teachers.empty? %>

   <table class="table">
      <tr>
         <th>Nome</th>
         <th></th>
         <th></th>
      </tr>

      <% @teachers.each do |teacher| %>
         <tr>
            <td><%= teacher.name %></td>
            <td><%= link_to(t("helpers.link.teacher.show"), teacher_path(teacher))%></td>
            <td><%= link_to(t("helpers.link.teacher.edit"), edit_teacher_path(teacher))%></td>
         </tr>
      <% end %>
   </table>

<% else %>
   Nenhum registro!
<% end%>


<p>
   <%= paginate @teachers, :size => 10 %>
</p>