<h3>Montar Sala</h3>

<%= simple_form_for @room do |f| %>     

   <%= render "shared/error_messages", :record => @room %>

   <p>      
      <%= f.input :course_id, collection: courses, required: true %>
   </p>

   <p>      
      <%= f.input :teacher_id, collection: teachers, required: true %>
   </p>

   <p>      
      <%= f.input :discipline_id, collection: disciplines, required: true %>      
   </p>

   <p>
      <%= f.button :submit %>
   </p>

<% end %>