<h2>Cadastrar curso</h2>

<%= form_for @course do |f| %>

   <%= render "shared/error_messages", :record => @course %>

   <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
   </p>

   <p>
      <%= f.submit %>
   </p>
   
<% end %>