<h3>
   <%= @course.name %>
</h3>

<section class="box">
<h4>Disciplinas</h4>

   <% unless @disciplines_teachers.empty? %>
   <dl>
      <% @disciplines_teachers.each do |room| %>

         <dt><%= room.discipline.name %><small> ministrado(a) por </small><%= room.teacher.name %></dt>

         <dd>
            <small>
               <%=link_to "Remover", room ,method: :delete,
               data: {confirm: "confirmar remoção ?"} %>   
            </small>
         </dd>

      <% end %>
   </dl>
   <% else %>
      Nenhum registro!
   <% end %>


</section>


<section class="box">
<h4>Alunos</h4>

<% unless @course.students.empty? %>
   <dl>

      <% @course.students.each do |student| %>
         <dt>
            <%= student.name %>
         </dt>

           <dd>
            <small>
               <%=link_to "Alterar", edit_student_path(student) %>   
            </small>
         </dd>


      <% end %>      
   </dl>

<% else %>

   Nenhum registro!

<% end %>

</section>
